BasedOnStyle: LLVM
PointerAlignment: Right
IndentWidth: 4
MaxEmptyLinesToKeep: 1
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AlignTrailingComments: true
AlignAfterOpenBracket: true
AccessModifierOffset: -4
AlignEscapedNewlinesLeft: true
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializersBeforeComma: true
Language: Cpp
NamespaceIndentation: All
SortIncludes: false
Standard: Cpp11
UseTab: Never
ColumnLimit: 80
