[alias]
    a = add
    st = status --short
    cm = commit -v
    cma = commit --amend -v
    rt = restore
    rts = restore --staged
    lg = log --oneline --graph
    lga = log --oneline --graph --all
    co = checkout
    br = branch -vv
    bra = branch -vv --all
    di = diff
    dis = diff --stat
    diw = diff --color-words
    dic = diff --cached
    dics = diff --cached --stat
    dicw = diff --cached --color-words
    dcw = diff --cached --color-words
    sh = show
    shs = show --stat
    shw = show --color-words
    rb = rebase
    rbc = rebase --continue
[core]
    editor = vim
[commit]
    template = .gitmessage
